html,body{min-width: 800px; min-height: 600px;overflow-x: hidden;}
/*header*/
#page{min-width: 800px; }
#header{height: 60px;  min-width: 800px;   /*border-top: 2px solid #2d0e14;*/ background-color:#1F1F1F;}
#header .logo {  float: left;padding-left: 0;background-color: #ff4400;height: 60px;width: 108px;text-align: center;line-height: 60px;}
#header .inner-wrp{overflow:hidden; }
#header .logo a {display: block;height: 24px;font-size: 18px;color:#FFFFFF; }
#header .logo a:hover {text-decoration: none;}
#header .logo a .iconfont{color:#FFFFFF; }
#header .page-title-wrap{height: 60px; float:left; color: #FFFFFF;padding-left: 20px;}
#header .page-title-wrap h2{float:left; line-height: 60px; padding-right: 20px;font-size: 14px; border-right: 1px solid #444444; }
/*container*/
.container{background-color:#FFFFFF;}
.container .bodyer-side{width: 108px;  min-width: 108px; border-right: 1px solid #D7D8DE;min-height: 1px;background-color:#3d3d3d; }
.container .bodyer-side .menu{width: 108px;min-width: 108px; }
.container .bodyer-side,
.container .bodyer-main{display: table-cell;  vertical-align: top;  word-wrap: break-word;  word-break: break-all;height: 470px;}

/*bodyer-main*/
.bodyer-main{width: 100%;}
.bodyer-main .main-nav{position: relative; }
.main-nav .tab-primary-navs{ background-color: #eaeaea;display: block;}

/*container*/
/*.container .page-main-wrap{max-height: 450px;width: 670px;overflow: hidden;}*/
.container .page-main{/*overflow:hidden;*/zoom: 1;padding: 10px 10px 10px;max-height: 450px;width: 670px;overflow:auto;}

/*table*/
.tool-wrap .tool-wrap-avatar{margin-right: 3px}
.tool-wrap .tool-wrap-avatar .icon{width:32px;height:32px;vertical-align: middle;}
.tool-wrap .tool-wrap-avatar img{  margin-top:4px;}
.tool-wrap .tool-wrap-avatar img{width:32px;  height:32px; border-radius: 50%;  vertical-align: middle;}
.tool-wrap .tool-wrap-name { height:32px;vertical-align: middle;}

